torch 
transformers 
langchain 
elasticsearch<9
sentence-transformers 
tqdm 
openpyxl 
pandas
datasets 
langchain-community 
langchain-core
voyager
ragatouille 
pypdf
docx2txt
sqlalchemy
testcontainers
pytrec-eval-terrier